[submodule "my_plugins/vim-easymotion"]
	path = my_plugins/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "my_plugins/vim-monokai"]
	path = my_plugins/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "my_plugins/gruvbox"]
	path = my_plugins/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "my_plugins/SimpylFold"]
	path = my_plugins/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "my_plugins/vim-visual-multi"]
	path = my_plugins/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "my_plugins/YouCompleteMe"]
	path = my_plugins/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "my_plugins/vim-startify"]
	path = my_plugins/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "my_plugins/onedark.vim"]
	path = my_plugins/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "my_plugins/lightline-bufferline"]
	path = my_plugins/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule "my_plugins/vim-doge"]
	path = my_plugins/vim-doge
	url = https://github.com/kkoomen/vim-doge.git
